{% extends 'base_auth.html' %}
{% load static %}

{% block content %}
<style>
.showPasswordToggle {
    cursor: pointer;
}

.showPasswordToggle:hover {
    transform: scale(1.2);
}

</style>
<div class="row"> 
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card mt-5">
            
            <div class="card-body">
            <div class="card-title py-3">
                <h4>Set your new password</h4>
            </div>


                <form action="{% url 'set-new-password' uidb64 token %}" method="post">
                {% csrf_token %}
                {% include 'partials/_messages.html' %}
               <div class="form-group"><input type="password" id="passwordField" name="password" class="form-control form-control-sm" placeholder="Password"></div>
                <small class="float-right py-2 showPasswordToggle">SHOW</small>
                <div class="form-group"><input type="password2" id="passwordField" name="password2" class="form-control form-control-sm" placeholder="Password"></div>
                <small class="float-right py-2 showPasswordToggle">SHOW</small>
                <input type="submit" value="Submit" class="btn btn-block btn-primary submit-btn">
                </form>
                <div class="container">
                    <span class="text-lead lead">Already registered?<a href="{% url 'login' %}">Login</a></span><br/>
                    <span class="text-lead lead">No account?<a href="{% url 'register' %}">Register Here</a></span>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
<script src="{% static 'js/register.js' %}">
{% endblock content %}

